button, .button, GtkButton{
    margin: 1px;
    padding: 5px;
    background-color: @button-color;
    border: 1px solid @button-border;
    border-radius: 2px;
}
button:hover, .button:hover{
    background-color: @button-selected;
}
button:disabled, .button:disabled{
    background-color: @bg-disabled-color;
}
